@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

body {
    background: #352f5b;
    font-family: poppins,Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #fff;
}
h1{
    font-size: 50px;
    padding: 50px 0px;
    text-align: center;   
}
.container {
    min-width: 576px;
    margin: 0px auto;
}
.form-control,
input:focus {
    border: none;
    font-size: 2rem;
    height:5rem ;
    padding-inline-start: 40px;
    padding-inline-end: 30px;
    margin-top: 40px;
    border-radius: 30px;
    width: 90%; 
    background-color: ghostwhite ;
}


.add{
    text-align: center;
    margin: 40px auto;    
    max-width: 900px;    
    min-width: 576px;
}
.fa-clipboard-check {
    padding-left: 20px;
}
.fa-trash-alt{
    padding-right: 20px;
}
.fa-clipboard-list{
    padding-left: 20px;
}
.list-item:hover{
    background-color: #959de2;
}


/* .deleteBtn:hover{
    background-color: rgb(211, 101, 97);
    color: antiquewhite;
}
.checkBtn:hover{
    background-color: rgb(168, 233, 184);
    color: white;
} */

/* #clear{
    margin: 5px;
    padding: 5px;
    border:none;
    background-color: rgb(247, 188, 188);
    color: cadetblue;
    box-shadow: 1px 5px 6px rgb(54, 54, 54);
    border-radius: 2rem;
    outline: none;
    cursor: pointer;
    width: 90%;
} */

/* .myList__Item:hover{
    background-color: rgb(247, 208, 149);
    box-shadow: 1px 5px 6px rgb(145, 142, 142);
}
.myList__Item-second:hover{
    background-color: rgb(190, 231, 201);
    box-shadow: 1px 5px 6px rgb(145, 142, 142);
} */

.list-item{
    background: #EFE526;
    height: 4rem;    
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;    
    min-width: 576px; 
    margin: 0px auto;
    border: 2px solid #352f5b;
    border-radius: 20px;
}
.delete,
.complete {
    cursor: pointer;
}
.todolist{
    padding-left: 0;
}
  /* .filtered {
    display: none !important;
  } */
.footer,
.ial{   
    padding: 40px;
   
    color: #ffffff;
    text-align: center;
    border-top: 3px solid #EFE526;
    font-size: 15px;
    background-color: ;
}

